<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Open+Sans" rel="stylesheet">
    <title>NEWS CHECKR</title>
  </head>
  <body>

  <div id="root">
  </div>

  <script>
    var countryNews = <%- countryNews %>;
    var worldNews = <%- worldNews %>;
  </script>
  <script src="/js/bundle.js"></script>
  </body>
</html>
